@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 2em;
  padding: 2em;
  padding-left: 0px; 
  padding-bottom: 0px;
}

h2 {
  font-size: 1.5em;
  padding: 1.5em;
  padding-left: 0px;
  padding-bottom: 0px;
}

.custom-button-class {
    border: 1px solid #cecece;
    padding: 3px;
    border-radius: 0;
    background: transparent;
    outline: none;
    font-weight: normal;
}

input, button, textarea {
  border: 1px solid #cecece;
  padding: 3px;
  border-radius: 0;
  background: transparent;
  outline: none;
  font-weight: normal;
}

.wrapper {
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  width: 80vw;
  /* max-width: 960px;
  min-width: 80px; */
  margin: 0px auto;
}

.letter {
  display: flex;
  flex-direction: column;
  height: 100%;
  color:black;
  text-align: left;
  padding: 20px;
  width: 80vw;
  min-height: 40vw;
  background-color: oldlace;
}

.letterEditor {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: 100%;
  color:black;
  text-align: left;
  padding: 20px;
  width: 80vw;
  min-height: 40vw;
  background-color: oldlace;
}

.letter_body {
  text-align: left;
}

.letter_footer {
  margin-top: auto;
  left: 1em;
  bottom: 1em;
  width: 100%;
  color: black;
  text-align: left;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer {
  left: 0;
  bottom: 1em;
  width: 100%;
  text-align: left;
}