@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  padding: 2em;
}

h2 {
  font-size: 1.5em;
  padding: 1.5em;
}

.custom-button-class {
    border: 1px solid #cecece;
    padding: 3px;
    border-radius: 0;
    background: transparent;
    outline: none;
    font-weight: normal;
}

input, button, textarea {
  border: 1px solid #cecece;
  padding: 3px;
  border-radius: 0;
  background: transparent;
  outline: none;
  font-weight: normal;
}