.table {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
    border: none;
}

.table td {
    border: none;
    padding: 8px;
    padding-bottom: 24px;
}

.table .col-1 {
    width: 30%;
}

.table .col-2 {
    width: 30%;
}

.table .col-3 {
    width: 30%;
}