.envelope {
  color:black;
  text-align: center;
  width: 960px; 
  height: 480px;
  padding-top: 0em;
  padding-bottom: 0em;
  border-radius: 2px;
  background-color: oldlace;
}

.button {
  border: none;
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 480px solid transparent;
  border-right: 480px solid transparent;
  border-top: 240px solid antiquewhite;
  outline: black;
}

.up {
  width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #007bff transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-color: red;
}

.inTriangle {
  top: -200px;
  position: relative;
  margin: 0px auto;
}