.envelope {
  color:black;
  text-align: center;
  width: 80vw; 
  height: 40vw; 
  padding-top: 0em;
  padding-bottom: 1em;
  border-radius: 2px;
  background-color: oldlace;
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 40vw solid transparent;
  border-right: 40vw solid transparent;
  border-top: 20vw solid antiquewhite;
  outline: black;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .envelope {
    height: 100%;
  }
}

.button {
  border: none;
}

.inTriangle {
  top: -17vw;
  position: relative;
  margin: 0px auto;
}