textarea {
    
}

input[type="submit"], button {
    border-radius: 3px;
    cursor: pointer;
    background-color: #ebebeb;
}
input[type="submit"]:hover, button:hover {
    background-color: #dfdfdf;
}